html {
  width: 100%;
  height: 100%;
}

body, #root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.app {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-configuration {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.break-length {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.length-configuration {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}